<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <springProperty scope="context" name="serviceName" source="spring.application.name"/>
    <springProperty scope="context" name="appVersion" source="info.build.version" defaultValue="unknown"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp><fieldName>timestamp</fieldName></timestamp>
                <logLevel><fieldName>level</fieldName></logLevel>
                <threadName><fieldName>thread</fieldName></threadName>
                <loggerName><fieldName>logger</fieldName></loggerName>
                <message/>
                <pattern>
                    <pattern>
                        {
                            "service": "${serviceName}",
                            "version": "${appVersion}",
                            "host": "${HOSTNAME}"
                        }
                    </pattern>
                </pattern>

                <stackTrace/> <!-- Essencial para debugar erros 500 no JSON -->
                <mdc>
                    <fieldName>context</fieldName>
                </mdc>
            </providers>
        </encoder>
    </appender>

    <!-- 2. Silenciamento Agressivo de Infraestrutura -->
    <logger name="org.springframework" level="ERROR" />
    <logger name="org.hibernate" level="ERROR" />
    <logger name="org.hibernate.orm.deprecation" level="OFF" />
    <logger name="com.zaxxer.hikari" level="ERROR" />
    <logger name="org.apache.catalina" level="ERROR" />
    <logger name="org.apache.coyote" level="ERROR" />
    <logger name="org.hibernate.validator" level="ERROR" />
    <logger name="org.apache.kafka" level="ERROR" />

    <!-- 3. Seu código de negócio em INFO para você ver seus logs -->
    <logger name="com.brunobs" level="INFO" />

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>
